DB_HOST=localhost
DB_NAME=buytun
DB_USERNAME=buytun
DB_PASSWORD=buytun
DB_PORT=5432

JWT_ACCESS_SECRET=jwt-secret-here
JWT_REFRESH_SECRET=jwt-secret-here-do-not-same-as-access-secret

JWT_ACCESS_TOKEN_EXPIRED=72
JWT_REFRESH_TOKEN_EXPIRED=168
